.masthead.-type-5 {
  position: relative;
  padding-top: 250px;
  padding-bottom: 340px;

  @include media-below(lg) {
    padding-top: 220px;
    padding-bottom: 220px;
  }

  @include media-below(md) {
    padding-top: 160px;
    padding-bottom: 100px;
  }
}

.masthead.-type-5 .masthead {
  &__bg {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    width: 95vw;
    bottom: 0;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__image {
    position: absolute;
    right: -24vw;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 8vw;

    img {
      width: 85vw;
      height: auto;
    }
    
    @include media-below(md) {
      position: relative;
      transform: none;
      top: unset;
      right: unset;
      // left: -25vw;
      display: flex;
      justify-content: center;

      img {
        width: 100%;
        width: 120vw;
      }
    }
  }

  &__content {
  }

  &__title {
    font-size: rem(60px);
    font-weight: 700;
    line-height: 1.4;

    @include media-below(sm) {
      font-size: 42px;
    }
  }
}