/*--------------------------------------------------
	Blog comments
---------------------------------------------------*/

.blogPost.-comments .blogPost__content .comments {
  &__list {
    li { list-style: none; }
		> li:first-child > .comments-item-inner { border-top: none; }
    > li:first-child { border-top: none; }
    
    .trackback,
    .pingback {
      a {
        line-height: rem(24px);
        text-decoration: none !important;
      }
    }
  }

  
	&__list {
		margin: 0;
	}
  
	&__list > li {
    // padding-bottom: rem(30px);
    margin-bottom: rem(60px);

    @include media-below(sm) {
      margin-top: rem(40px);
    }
  }
  
  &__list > li:not(:last-child) {
    // border-bottom: 1px solid #E4E4E4;
  }

	&__item-inner {
		display: flex;
  }
  
  &__item .children {
		padding: 0;
		margin: 0;
    padding-left: 5%;

    padding-top: rem(32px);
	}
}


.blogPost.-comments .blogPost__content .comments {
  &__body {
		width: 100%;
  }
  
	&__img {
    flex: 0 0 auto;
    @include size(90px);
    max-width: rem(90px);
    margin-right: rem(22px);
    
    @include media-below(sm) {
      @include size(48px);
      max-width: rem(48px);
      margin-right: rem(16px);
    }
  }
  
	&__header {
    h4 {
      font-size: rem(16px);
      line-height: 1.2;
      font-weight: 600;
		}

		p {
			font-size: rem(14px);
      line-height: 1.6;
		}
	}

	&__text {
		p {
			margin: 0;
      margin-top: rem(14px);
      font-size: rem(14px);
      line-height: 1.6;
		}

		a {
      text-decoration: underline;
    }

		ul, ul li { list-style: disc inside !important; }
		ol, ol li { list-style: decimal inside !important; }
	}

	&__reply a {
    margin-top: rem(10px);
    text-decoration: underline;
    font-weight: 600;
    font-size: rem(12px);
    line-height: 1.8;
	}
}
